{erl_opts, [
   debug_info
  ,warnings_as_errors
]}.
{deps, [
  {stillir, "1.1.0"}
 ,{prometheus, "4.9.1"}
 ,{cowboy, "2.9.0"}
 ,{srly, {git, "https://github.com/waisbrot/srly.git", {ref, "1cc6048"}}}
 ,{flatlog, "0.1.2"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [vantage_pro]}
]}.

{relx, [
  {release, {main_release, git}, [vantage_pro]}, 
  {dev_mode, true}, 
  {include_erts, false}, 
  {system_libs, false}
]}.
