[
 {kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{formatter => {flatlog, #{
        map_depth => 3, 
        term_depth => 50, 
        colored => true, 
        template => [colored_start, "t=", time, " l=", level,
                     {pid, [" pid=", pid], ""}, " at=", mfa, ":", line, colored_end, " ", msg, "\n"]}}}}
 ]}]},
 {prometheus, [
    {collectors, [prometheus_boolean, prometheus_counter, prometheus_gauge, prometheus_histogram, prometheus_summary, prometheus_vm_statistics_collector]}
    ]}
].
